.cards-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 70px;
  padding: 0 100px;
}
.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middle-column > .card {
  margin-bottom: 30px;
}

@media (max-width: 1300px) {
  .cards-section {
    padding: 0 80px;
  }
}
@media (max-width: 1150px) {
  .cards-section {
    padding: 0 60px;
    margin-top: 50px;
  }
}
@media (max-width: 1050px) {
  .cards-section {
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .cards-section {
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin-top: 50px;
  }
}
